<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoalaKuestionnaire - Take A Kuestionnaire! </title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="survey" class="container">
    <!-- Header Section -->
    <div class="header">
        <img src="/images/Logo.png" alt="Koala Icon" class="icon" />
        <h2>
            <label th:text="${'Kuestionnaire '+ surveyId + ': Is Closed' }"></label>
        </h2>

    </div>
</div>
</body>
</html>
