<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KoalaKuestionnaire - Take A Kuestionnaire! </title>
    <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/takestyles.css">
</head>
<body>
<div id="survey" class="container">
    <!-- Header Section -->
    <div class="header">
        <img src="/images/Logo.png" alt="Koala Icon" class="icon" />
        <h2>
            <label th:text="${surveyTitle != null ? surveyTitle : 'Kuestionnaire: ' + surveyId}"></label>
        </h2>

    </div>
    <form th:action="@{/take/{survey_id}(survey_id=${surveyId})}" method="POST">


        <div id="questions" class="main-content">

        <div th:each="question, questionIndex : ${questions}" class="question-container" >
                <label th:text="${question.question_prompt}"></label>

                <!-- Text Question -->
                <div th:if="${question.questionType == T(org.example.models.QuestionType).TEXT}">
                    <input type="text" th:name="${question.qid}" class="survey-id-field"/>
                </div>

                <!-- Multiple Choice -->
                <div th:if="${question.questionType == T(org.example.models.QuestionType).MULTIPLE_CHOICE}">
                    <div  th:each="option : ${options.get(questionIndex.index)}">
                        <input type="radio" th:value="${option}" th:name="${question.qid}" />
                        <span th:text="${option}"></span>
                    </div>
                </div>

                <!-- Multi-Select -->
                <div th:if="${question.questionType == T(org.example.models.QuestionType).MULTI_SELECT}">
                    <div th:each="option : ${options.get(questionIndex.index)}">
                        <input type="checkbox" th:value="${option}" th:name="${question.qid}" />
                        <span th:text="${option}"></span>
                    </div>
                </div>


                <!-- Range -->
                <div th:if="${question.questionType == T(org.example.models.QuestionType).RANGE}">
                    <label>Please pick a number from:</label>
                    <label th:text="${options.get(questionIndex.index).get(0) + ' to ' + options.get(questionIndex.index).get(1)} "></label>

                    <input type="number" th:value="${options.get(questionIndex.index).get(0)}" th:name="${question.qid}" class="survey-id-field" th:min="${options.get(questionIndex.index).get(0)}" th:max="${options.get(questionIndex.index).get(1)}"/>
                </div>

        </div>

    </div>

    <div class="button-group">
        <button class="action-button">Submit</button>
    </div>
    </form>

</div>
</body>
</html>
