<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KoalaKuestionnaire - Take A Kuestionnaire! </title>
  <script src="https://unpkg.com/htmx.org"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">

  <!-- Header Section -->
  <div class="header">
    <!-- Koala Icon -->
    <img src="/images/Logo.png" alt="Koala Icon" class="icon" />
  </div>

  <!-- Main Content Section -->
  <div class="main-content">
    <p>Please enter the Kuestionnaire ID given to you by your Surveyor</p>

    <!-- Sign In Form -->
    <form action="/take" method="POST">
      <div class="form-group">
        <label for="survey_id">Survey ID:</label>
      <input type="text" id="survey_id" name="survey_id" placeholder="Please Enter your Kuestionnaire ID" required>
      </div>

      <div class="button-group">
        <!-- Submit Button to Sign In -->

        <button type="submit" class="action-button">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
